@import '../../../variables'

button
    width: 100%
    margin-left: 10px
    margin-bottom:5px
    background-color: $light
    color: $accent
    border: solid $accent 2px
    border-radius: 5px
    padding: 2px

.tasks-column
    width: 15%

button:hover 
    color: $accent2
    font-weight: bold

main 
    position: relative