<form [formGroup]="updateUserForm" (ngSubmit)="changeInformation();" class="userForm">
    <label for="username">Korisničko ime:</label>
    <input id="username" type="text" formControlName="username">

    <label for="password">Šifra:</label>
    <input for="password" id="password" type="password" formControlName="password">

    <label for="email">Mejl:
        <p class="note">* Za studente matemataičkog fakulteta mora biti fakultetska mejl adresa</p>
    </label>
    <input id="email" type="email" formControlName="email">

    <label for="firstName">Ime:</label>
    <input id="firstName" type="text" formControlName="firstName">
    
    <label for="lastName">Prezime:</label>
    <input id="lastName" type="text" formControlName="lastName">
    <button type="submit">
        Izmeni informacije
    </button>
</form>