@import '../../../variables'

div 
    background-color: $dark
    margin-inline: auto
    margin-bottom: 10px
    width: 75%
    border-radius: 5px
    padding: 10px

.date 
    opacity: 0.75
    font-size: 0.75em
    text-align: right

textarea
    border: $light solid 2px
    background-color: transparent
    color: $light
    margin-bottom: 20px
    width: 90%
    display: block

input
    border-bottom: 2px solid $light
    display: block
    color: $light

label
    margin-top: 10px
    display: block

button
    color: $light
    padding: 5px
    width: 90%
    border: inset $light 2px

button:hover
    background-color: $light
    color: $dark