<main>
    <img alt="shema" src="/assets/dijagram_stud2020.png" class="diagram" title="Sliku možete prevući u novi tab.">
    <h2> Zadatak </h2>
    <h3> {{ task?.id }} {{ task?.name }}</h3>
    <p> {{ task?.text }}</p>

    <table *ngIf="task != null && task.submission != null && task.submission.totalSubmissions>0">
        <tr>
        <td *ngIf="task.submission.correctSubmissions==0">
            {{ task.submission.correctSubmissions }} / {{ task.submission.totalSubmissions }}
        </td>
        <td *ngIf="task.submission.correctSubmissions>0">
            <div  class="success-rate"  [ngStyle]="{'width.%': task.submission.correctSubmissions *100.0  / task.submission.totalSubmissions}">
                {{ task.submission.correctSubmissions }} / {{ task.submission.totalSubmissions }}
            </div>
        </td>
        
        <td *ngIf="!task.submission.isWaiting" [ngClass]="task.submission.isCorrect ? 'green' : 'red'">{{ task.submission.isCorrect ? "tačno" : "netačno"}} </td>
        <td *ngIf="task.submission.isWaiting">
            <mat-progress-bar mode="buffer"></mat-progress-bar></td>
        <td>{{ task.submission.message }} </td>
        
    </tr>
    </table>

    <div *ngIf="task != null && task.submission != null && task.submission.totalSubmissions==0">
        <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>


    <!-- <div *ngIf="task!=null && (task.submission==null || (task.submission!= null && !task.submission.isWaiting))"> -->
    <div *ngIf="task!=null && (task.submission==null || (task.submission!= null && !task.submission.isWaiting && task.submission.question==null) || (task.submission.question!=null && task.submission.question.response!=null))">
        <form [formGroup]="checkTaskForm" (ngSubmit)="checkTask()">
            <input type="file" accept=".sql" formControlName="file" (change)="onFilePicked($event)" required value="izaberi fajl">
            <button type="submit">
                pregledaj
            </button>
        </form> 

        <button *ngIf="!showAskQuestion && task!=null && task.submission!=null && task.submission.question==null && task.submission.totalSubmissions>0" (click)="showAskQuestionForm()" class="showQuestionButton">Postavi pitanje</button>

        <form *ngIf="showAskQuestion && task!=null && task.submission!=null && task.submission.question==null && task.submission.totalSubmissions>0" [formGroup]="askQuestionForm" (ngSubmit)="askQuestion()" class="askQuestionForm">
            <textarea formControlName="question" placeholder="Pitanje..."></textarea>

            <select formControlName="professorId" [ngModel]="0">
                <option value="0" disabled>Izaberi profesora</option>
                <option *ngFor="let professor of professors"  [ngValue]="professor.id">{{professor.username}}</option>
            </select>
            <button type="submit" class="showQuestionButton">
                Pošalji pitanje
            </button>
        </form>
    </div>


    <div *ngIf="task!=null && task.submission!=null && task.submission.question!=null">
        <h2>Pitanje</h2>
        <p>{{ task.submission.question.question}}</p>
        <p>{{ task.submission.question.response}}</p>
        <button type="submit" class="showQuestionButton" (click)="deleteQuestion()">
            Obriši pitanje
        </button>
    </div>
    <button *ngIf="user?.isProfessor()" (click)="showChangeTaskForm()" class="showQuestionButton">Izmeni zadatak</button>
</main>


<div *ngIf="user?.isProfessor && changeTask" style="background-color: pink;">
    <app-new-task-form [task]="task"></app-new-task-form>
</div>


