main
    background-color: pink
    width: 80%
    position: absolute
    top: 0
    right: 0
    padding: 1%
    margin-right: 1%

table
    width: 100%

td
    border: solid black 2px
    border-radius: 5px
    width: 30%
    height: 2em

.green
    background-color: green


.red 
    background-color: red

.yellow
    background-color: yellow

.success-rate
    background-color: green
    border-radius: 5px
    height: 2em

button, input::file-selector-button
    margin: 2px 
    background-color: transparent

button, input
    display: block
