@import '../../../variables'
@import '../../app.component.sass'

h2
    background-color: $dark
    margin: 0
    padding: 15px
    color: $accent
    font-size: 2em
    position: static

div
    position: absolute
    right: 10px
    top: 10px

    button
        margin: 2px
        color: $light
        padding: 5px

    button:hover 
        color: $dark
        background-color: $light
        font-weight: bold

table
    background-color: $dark
    width: 100%
    margin-bottom: 10px
    text-align: center 
    td
        border: solid $light 2px
        border-radius: 5px

    td:hover 
        color: $dark
        background-color: $light
        font-weight: bold

.back-button
    background-color: $dark
    // width: 10%
    margin-bottom: 10px
    text-align: center 
    border: solid $light 2px
    border-radius: 5px
    color: $light
    margin: 2px
    color: $light
    padding: 5px
    position: absolute
    right: 10px
    top: 10px


.back-button:hover 
    color: $dark
    background-color: $light
    font-weight: bold

