<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">
      jdbc:db2://localhost:50000/grader
    </property>
    <property name="connection.driver_class">
      com.ibm.db2.jcc.DB2Driver
    </property>
    <property name="hibernate.connection.username">
    db2inst1
    </property>
    <property name="hibernate.connection.password">
    pass
    </property>
    <property name="hibernate.dialect">
      org.hibernate.dialect.DB2Dialect
    </property>
    <property name="hibernate.jdbc.batch_size">5</property>
    <property name="hibernate.connection.pool_size">200</property>
  </session-factory>
</hibernate-configuration>