<form *ngIf="showLoginForm" class="ui form" [formGroup]="loginForm" (ngSubmit)="signIn();" class="userForm">
    <label for="usernameLogin">Korisničko ime:</label>
    <input  id="usernameLogin" type="text" formControlName="username">
    <label for="passwordLogin">Šifra:</label>
    <input id="passwordLogin" type="password" formControlName="password">
    <button type="submit">
        uloguje se
    </button>
    <br><br><hr><br>
    <button type="button" (click)="setShowLoginForm(false)" class="space-up">napravi nalog</button>
</form>

<form *ngIf="!showLoginForm" [formGroup]="signUpForm" (ngSubmit)="signUp();" class="userForm">
    <label for="username">Korisničko ime:</label>
    <input id="username" type="text" formControlName="username">

    <label for="password">Šifra:</label>
    <input for="password" id="password" type="password" formControlName="password">

    <label for="email">Mejl:
        <p class="note">* Za studente matemataičkog fakulteta mora biti fakultetska mejl adresa</p>
    </label>
    <input id="email" type="email" formControlName="email">

    <label for="firstName">Ime:</label>
    <input id="firstName" type="text" formControlName="firstName">
    
    <label for="lastName">Prezime:</label>
    <input id="lastName" type="text" formControlName="lastName">
    <button type="submit">
        napravi nalog
    </button>
    <br><br><hr><br>
    <button type="button" (click)="setShowLoginForm(true)" class="space-up">uloguje se</button>
</form>