/* You can add global styles to this file, and also import other style files */
@import 'variables'

body
    background-color: $light
    color: $light
    padding: 0
    margin: 0

input
    background-color: transparent
    border: none
    border-bottom: solid $dark 1px
    color: $dark

button
    background-color: transparent
    border-radius: 5px
    border-color: $dark

.userForm
    margin: auto
    width: 60%
    padding: 5%
    color: $dark

    input
        display: block
        width: 100%
        padding: 0
        margin: 0
        margin-bottom: 10px

    button
        width: 90%
        display: block
        margin: auto
        margin-bottom: 10px


.note
    margin: 0
    padding: 0
    font-size: 0.7em
    opacity: 0.75
    
.no-select, label, h1
    -webkit-user-select: none /* Safari */
    -ms-user-select: none /* IE 10 and IE 11 */
    user-select: none /* Standard syntax */